@model E_banking.Models.Customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/personPage.css" rel="stylesheet" />
<body>
    <h1>E-Banking</h1>
    <hr />
    <br />
    <div class="transactionContainer">
        <div class="row">
            <div class="col-xs-11 col-md-3 col">
                <div class="inner">
                    <center><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></center>
                    <span class="label button">@Html.ActionLink("New Transaction", "NewTransaction", "User", new { @class = "link" })</span>
                </div>
            </div>

            <div class="col-xs-11 col-md-3 col">
                <div class="inner">
                    <center><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></center>
                    <span class="label button">@Html.ActionLink("Transfer Money", "TransferMoney", "User", new { @class = "link" })</span>
                </div>
            </div>
            <div class="col-xs-11 col-md-3 col">
                <div class="inner">
                    <center><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></center>
                    <span class="label button">@Html.ActionLink("View Balance", "ViewBalance", "User", new { @class = "link" })</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11 col-md-5 col">
                <div class="inner">
                    <center><span class="glyphicon glyphicon-list" aria-hidden="true"></span></center>
                    <span class="label button">@Html.ActionLink("View Transaction", "ViewTransaction", "User", new { @class = "link" })</span>
                </div>
            </div>
            <div class="col-xs-11 col-md-5 col">
                <div class="inner">
                    <center><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></center>
                    <span class="label button">@Html.ActionLink("Add Feedback", "AddFeedback", "User", new { @class = "link" })</span>
                </div>
            </div>
        </div>
    </div>
</body>





